* {
    box-sizing: border-box;
}

body, html {
	margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.x-large {
  font-size: x-large;
}

.transform-change {
  will-change: opacity;
}

.opacity-change {
  will-change: transform;
}

.fit-screen-width {
	width: 100vw;
}

.mainContainer {
	padding: 0 0.5rem;
}

.flex-padding {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 95%;
  margin: 2% 3% 3% 3%;
}

.aligner-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item-top {
  align-self: flex-start;
}

.aligner-item-bottom {
  align-self: flex-end;
}

.flex {
  display: flex;
}

.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.container {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.fill-screen {
  min-height: 100vh;
}

.fill-parent {
  min-height: 100%;
}

.bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.half-height {
  height: 50%;
}

.no-margin {
  margin: 0 !important;
}

.half-transparent {
  opacity: 0.5;
}